version: 2.1

jobs:
  build:
    working_directory: ~/project
    docker:
      - image: cimg/node:20.17

    steps:
      - checkout

      # Remove npm update step (it caused permission issues)

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
            - v1-dependencies-

      - run:
          name: Install Dependencies
          command: npm ci

      - save_cache:
          key: v1-dependencies-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules

      - run:
          name: Nuxt Generate
          command: npm run generate

      - run:
          name: Deploy to Firebase Hosting
          command: npx firebase deploy --only hosting --token $FIREBASE_TOKEN

workflows:
  version: 2
  build-deploy:
    jobs:
      - build:
          filters:
            branches:
              only: main